html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #a4c2f4ff;
  overflow: hidden; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 77px;
  margin: 0; 
  color: white; 
}

p {
  text-align: center; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: white; 
  margin: 2; 
  padding-bottom: 8; 
}

button {
  font-size: 22px; 
  font-weight: 600; 
  color: white; 
  width: 300px;
  height: 50px;
  border: 3px solid white; 
  border-radius: 5px; 
  background-color: #a4c2f4ff; 
}

button:hover {
  color: #a4c2f4ff; 
  background-color: white; 
}

footer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

a {
  color: white; 
}

a:hover {
  color: #a4c2f4ff;
}
